//Variables  SCSS
$light-black: #5f6366;
$blue: #4d6d9a;
$blue-grey: #99a4c2;
$ocean: #98cdd1;
$light-pink: #ecb4bf;
$pink: #f58786;
$yellow: #f2d14f;
$light-grey: #ebebeb;
$sky-color: #90cbf3;
$light-blue: #5ca1d4;
